###
### OpenEVT Environment Configuration
### Copy this file to .env and update the values below.
###

# (Required) LAN address and port of your microinverter (e.g. 192.168.2.54:14889)
OPENEVT_ADDR=192.168.2.54:14889

# (Required) Serial number of your microinverter (e.g. 31583078)
OPENEVT_SERIALNUMBER=31583078

# (Optional) Address on which to expose metrics (default: :9090)
#OPENEVT_WEBLISTENADDRESS=:9090

# (Optional) Path under which to expose Prometheus metrics (default: /metrics)
#OPENEVT_WEBTELEMETRYPATH=/metrics

# (Optional) Exclude metrics about the exporter itself (go_*) (default: false)
#OPENEVT_WEBDISABLEEXPORTERMETRICS=false

# (Optional) Poll the inverter more frequently than advertised (default: 0s)
#OPENEVT_POLLINTERVAL=0s

# (Optional) Interval between connection attempts (default: 1m)
#OPENEVT_RECONNECTINTERVAL=1m

# (Optional) Log level: DEBUG, INFO, WARN, ERROR (default: INFO)
#OPENEVT_LOGLEVEL=INFO
